/*
 * Created by: Ashraf Morningstar
 * GitHub: https://github.com/AshrafMorningstar
 * Generation Timestamp: 2025-11-13T11:17:00.649Z
 * Language: CSS
 */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}