/*
 * Created by: Ashraf Morningstar
 * GitHub: https://github.com/AshrafMorningstar
 * Generation Timestamp: 2025-11-13T11:17:00.650Z
 * Language: SCSS
 */

$primary-color: #333;

body {
  color: $primary-color;
}

.container {
  width: 100%;
}